<main>
  <% if @projects.count > 0 %>
    <h2>Projects: </h2>
    <% @projects.each do |project|%>
      <section>
        <h2><%= link_to project.name, project_path(project.id), data: {turbolinks: "false"} %></h2>
        <p>Remaining: <%=humanized_money_with_symbol project.goal%></p>
        <p><%=project.description%></p>
        <p><%=project.film_type%></p>
      </section>
    <% end %>
    <% else %>
    <h2>There are no projects yet in this category.</h2>
  <% end %>
</main>