<main>
  <h2> Help make filmmakers dreams come true </h2>

  <article>
    <h3>Projects fully funded:</h3>
    <%
=begin%>
  <% Pitch.order_by_title.each do |pitch| %>
    <section>
      <figure>
        <h3><strong><em><%= link_to pitch.title, pitch_path(pitch) %></strong></em></h3>
        <iframe width="560" height="315" src=<%= pitch.video_link %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <figcaption><em><%= pitch.summary %></em></figcaption>
      </figure>
    </section>
  <% end %> 
<%
=end%>
  </article>
</main>

<aside>
  <h4>"FilmPitch enabled me to produce my first feature film. - Telep@th</h4>
  <h4>"Everyone is so friendly and supportive. It is a great network of filmmakers looking to make their dreams come true - Flash</h4>
</aside>

<footer>
  <button id="footer" onclick='handleOnClick()'>Have suggestions to improve this website?</button>
</footer>

<script>
  function handleOnClick(){
    document.getElementById("footer").innerHTML = `
      <p><em>Email the creator:</em> <a href="mailto:ethan_gustafson@outlook.com">ethan_gustafson@outlook.com</a></p>`
  }
</script>