<main>
  <article>
    <h2>Featured</h2>
    <section>
      <% @projects.each do |p|%>
        <div>
          <h3><%= link_to p.name, p %></h3>
          <p>Posted by: <%=p.user.display_name%></p>
          <p><%=p.description%></p>
          <p>Funding Goal: $<%=p.goal%></p>
        </div>
      <%end%>
    </section>
  </article>
</main>