@import "../mixins/text.scss";

#projects-nav-container{

  width: 100%;
  margin: 0 auto;

  #projects-nav{

    padding-inline-start: 0;
    margin: 0 auto;
    width: 90%;

    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: solid lightgray 1px;

    li {
      text-align: center;
      flex: 1 1 20%;
      @include gradient-color;
      a{
        display: block;
        padding: 20px 0;
        white-space: nowrap;
      }
    }

    li:hover{
      background: orange;
      -webkit-text-fill-color: unset;
      cursor: pointer;
      a{
        text-decoration: none;
        color: white;
      }
    }

    li:active{
      background: purple;
      -webkit-text-fill-color: unset;
    }
  }
}