$text-background: -webkit-linear-gradient(top left,#ff7b00, purple);

@mixin text-color {
  display: inline-block;
  background: $text-background;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#loggedin-header{
  background-color: black;
  height: 70px;
  width: 100%;

  a{
    text-decoration: none;
    @include text-color;
  }

  a:hover{
    color: white;
    transition-duration: 0.3s;
  }

  img{
    background-color: white;
    border-radius: 50%;
  }

  #site-nav{
    width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    h1{
      flex: 1 1 30%;
      margin-block-start: 0;
      margin-block-end: 0;

      text-align: center;
      position: relative;
      width: 50%;
      left: 0;
      top: 0;
    }

    ul{
      flex: 1 1 30%;

      height: 70px;

      list-style-type: none;
      padding-inline-start: 0;

      margin-block-start: 0;
      margin-block-end: 0;

      display: flex;

      li{
        white-space: nowrap;
      }
    }

    .align-left, .align-right{
      font-size: 20px;
      align-items: center;
      position: relative;
      width: 100%;
      left: 0;
      top: 0;
      @media (max-width: 600px) {
        font-size: 16px;
      }
    }

    #root-path{
      font-size: 28px;
      @media (max-width: 600px) {
        font-size: 20px;
      }
    }

    .align-left{
      justify-content: flex-start;
      li{
        flex: 0 1 25%;
        margin-right: 10px;
      }
    }

    .align-right{
      justify-content: flex-end;
      li{
        margin-left: 10px;
        flex: 0 1 70px;
      }
    }
  }
}