// Place all the styles related to the project_variations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#projects-page-header{
  text-align: center;
}

#projects-main-varied-shared{
  width: 90%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  .project-varied-container{
    height: 500px;
    margin: 10px;

    display: flex;
    flex-direction: column;

    flex: 1 1 30%;

    border-radius: 10px;
    box-shadow: 0 0 3px grey;

    .project-varied-image{
      flex: 1 1 50%;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      border-radius: 10px;

      .project-varied-image{
        width: 100%;
        height: 100%;
      }
    }

    .project-varied-info-container{
      flex: 1 1 50%;

      padding: 10px;
    }

    .project-varied-title{
      text-align: center;
    }

    .project-varied-info{
      width: 80%;
      margin: 0 auto;
    }
  }
}