main form{
    margin: 0 auto;
    display: table;
    border: solid black;
    border-width: 2px;
    border-radius: 2px;
    padding: 30px;
    background-color: #EEE8AA;
}

input[type=text], input[type=password], input[type=email]{
    border: solid black;
    border-width: 2px;
    border-radius: 4px;
    width: 90%;
    padding: 10px;
}

input[type=submit]{
    position: relative;
    left: 38%;
    border: solid black;
    border-width: 2px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

input:hover{
    background-color: rgb(162, 255, 250);
    transition-duration: 0.5s;
}