#email-creator{
    cursor: pointer;
    background-color: #EEE8AA;
    padding: 5px;
    border: solid black;
    border-radius: 3px;
    border-width: thin;
}

#email-creator:hover{
    background-color: gold;
    transition-duration: 0.4s;
}

.email-creator{
    cursor: default;
    background-color: #EEE8AA;
    padding: 5px;
    border: solid black;
    border-radius: 3px;
    border-width: thin;
    display: inline;
}

.email-creator:hover{
    background-color: gold;
    transition-duration: 0.4s;
}

.align-center{
    text-align: center;
}