main{
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

main form{
    margin: 0 auto;
    padding: 5%;
    display: flex;
    flex-direction: column;

    border: solid lightgrey 1px;
    border-radius: 2px;
    background-color: #EEE8AA;
}

.login-flex{
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    text-align: center;
    width: 75%;
}

input[type=text], input[type=password], input[type=email]{
    border: solid lightgrey 1px;
    border-radius: 4px;
    padding: 10px;
}

input[type=submit]{
    border: solid lightgrey 1px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

input:hover{
    background-color: #FFD700;
    transition-duration: 0.5s;
}

#login-form-header, #signup-form-header{
    text-align: center;
}

#other-options{
    text-align: center;
}

a{
    text-decoration: none;
}

a:visited {
    color: #b3830b;
}

a:hover {
    color: #746202;
    transition-duration: 0.5s;
}